* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #12372a;
    color: #fbfada;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 120px;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    position: relative;
}
header nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 30px;
}
header h1 {
    font-size: 2rem;
}
header nav button {
    background: none;
    border: 1px solid #fbfada;
    color: #fbfada;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
header nav button:hover {
    background-color: #fbfada;
    color: #12372a;
}
#content {
    flex: 1;
}
.home-tab {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.content-leftside h2 {
    font-size: 3rem;
}
.content-leftside span {
    font-size: 1.5rem;
    font-weight: bold;
}
.content-leftside p {
    font-size: 1.2rem;
    line-height: 1.4;
}
.featured-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 40px;
}
.featured-items a {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.featured-items a:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.featured-items img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.content-rightside img {
    width: 800px;
    height: auto;
}
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin: 0 -120px;
}
footer nav {
    margin-bottom: 1rem;
}
footer a {
    color: #fbfada;
    text-decoration: none;
    margin: 0 8px;
}
footer a:hover {
    font-weight: bold;
}
footer .socials a {
    margin: 0 10px;
}
